

body {padding:20px} 

.upperDiv {
    /* border: solid blue; */
    display: flex;
    align-items : center;
    justify-content : space-between;
    box-sizing  : border-box;
}

.lowerDiv {
    border: solid rgb(0, 0, 0);
    box-sizing: border-box;
    opacity:0.1;
} 


.lowerDiv:hover {
    background-color: black;
    opacity:1;
}

button {
    margin:20px 20px 20px 0;

}


.etch {
    background-color: black;
    color:black;
}